* {
    margin:0;
    padding:0;
}

#main {

    background-color: white;
    display:flex;
    flex-direction: column;
}

#addBook {
    height:50px;
    background-color: green;
}

#forms {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

#forms > input {
    width:50%;
    height:20px;
}

#container {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border:none;
    margin-top:50px;
}

#container > * {
    width:40%;
}

tr {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    border-radius: 15px;
}

#container tr button:first-child {
    background-color: blue; 
    color: white;
    width:80px;
    height:35px;
    border-radius: 15px;
}

#container tr button:last-child {
    background-color: red; 
    color: white;
    width:80px;
    height:35px;
    border-radius: 15px;
}
