#main {
    background-color: white;
    display:flex;
    flex-direction: column;
}

#addBook {
    height:50px;
    background-color: green;
}

#forms {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

#forms > input {
    width:50%;
    height:20px;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border:none;
    margin-top:50px;
}

#container > * {
    width:25%;
}

#container button {
    background-color: red;
}