#main {
    background-color: white;
    display:flex;
    flex-direction: column;
}

#forms {
    display:flex;
    flex-direction: column;
}

#forms > input {
    width:100%;
    height:20px;
}

#container {
    display:grid;
    background-color: lightgray;

}